---
- name: ensure overlay kernel module is loaded
  modprobe:
    name: overlay
    state: present
  when: docker_enable_overlay

- name: enable overlay on boot
  lineinfile:
    path: /etc/modules
    line: 'overlay'
  when: docker_enable_overlay

- name: add docker repository GPG key
  apt_key:
    url: "{{ docker_apt_key_url }}"
    state: present
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: add docker main repository
  apt_repository:
    repo: "deb {{ docker_apt_url }} {{ ansible_distribution_release }} stable {{ docker_extra_repo|default('') }}"
    state: present
    filename: "docker_official"
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  register: docker_apt_result

- name: ensure right permissions on apt sources list
  file:
    path: /etc/apt/sources.list.d/docker_official.list
    owner: root
    group: root
    mode: 'u=rw,g=r,o=r'

- name: apt update list for new docker repository
  apt:
    update_cache: yes
  when: docker_apt_result.changed

- name: install docker dependencies
  apt:
    name: "{{ item }}"
    state: present
  with_items: "{{ docker_debian_dependencies }}"

- name: install docker engine
  apt:
    name: "{{ docker_apt_package }}"
    state: "{{ docker_state}}"
